.nav-mobile-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  gap: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
  padding-bottom: 8rem;
}

.nav-mobile-option {
  justify-content: center;
  align-items: center;
  color: rgb(27, 27, 27);
  font-family: "Work Sans", sans-serif;
  text-decoration: none;
  text-align: center;
}
