* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: rgb(27, 27, 27);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(19, 19, 19);
}

.app {
  background-color: #ffffff;
  max-height: 100vh;
  max-width: 100vh;
}
